.buttons-space {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #b90000;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.button-shoulder-left {
  padding: 0 2px 2px 0;
  background-color: #b4a497;
  border-radius: 15px;
  border: 1px solid black;
}

.button-shoulder-left:active {
  border: 1px solid black;
  padding: 2px;
}

.button-depth-left {
  padding: 1px;
  background-color: #29aafd;
  border-radius: 15px;
  border: 1px solid black;
}

.button-depth-left:active {
  border-radius: 16px;
  padding: 0;
  background-color: #29aafd;
}

.button-shoulder-right {
  padding: 0 0 2px 2px;
  background-color: #b4a497;
  border-radius: 15px;
  border: 1px solid black;
}

.button-shoulder-right:active {
  border: 1px solid black;
  padding: 2px;
}

.button-depth-right {
  padding: 1px;
  background-color: #29aafd;
  border-radius: 15px;
  border: 1px solid black;
}

.button-depth-right:active {
  border-radius: 16px;
  padding: 0;
  background-color: #29aafd;
}

.next-poke {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  background-color: #29aafd;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  height: 40px;
  width: 100px;
}

.last-poke {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  background-color: #29aafd;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
  height: 40px;
  width: 100px;
}

.next-poke:active,
.last-poke:active,
.search-button:active {
  box-shadow: inset 1px 1px 5px black;
}
