@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

span {
  font-size: 0.7rem;
  margin: 3px;
  padding: 3px;
}

h5 {
  padding: 5px;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(179, 170, 157, 0.966);
  width: 90%;
  height: 60%;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  background-image: linear-gradient(
    to top left,
    rgba(60, 39, 246, 0.842),
    rgba(27, 151, 209, 0.883),
    rgb(79, 206, 223),
    rgba(0, 255, 255, 0.883)
  );
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  height: 90%;
  width: 95%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.specs {
  display: flex;
  justify-content: space-around;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info {
  display: flex;
  gap: 66px;
  padding: 10px;
}

.sprite {
  display: flex;
  align-items: center;
}

.display-no-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(
    to top left,
    rgba(60, 39, 246, 0.842),
    rgba(27, 151, 209, 0.883),
    rgb(79, 206, 223),
    rgba(0, 255, 255, 0.883)
  );
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  height: 90%;
  width: 95%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text {
  margin-top: 30px;
}

.no-data-img {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.no-data {
  text-align: center;
  margin: 10px;
}

.shocked-CHU {
  height: 100px;
}

.display-no-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  background-image: linear-gradient(
    to top left,
    rgba(60, 39, 246, 0.842),
    rgba(27, 151, 209, 0.883),
    rgb(79, 206, 223),
    rgba(0, 255, 255, 0.883)
  );
  color: rgb(0, 0, 0);
  font-family: 'Press Start 2P', cursive;
  height: 90%;
  width: 95%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}
